@import "./colors";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 12px;

  &__logo {
    margin-right: 3em;
    height: 40px;
  }

  a {
    color: $text;
    text-decoration: none;
    margin: 0 1em;
  }

  &__left {
    display: flex;
    align-items: center;
  }
}
